OPENAI_API_KEY=
REPLICATE_API_TOKEN=
MOCK_MODE=true
OPENAI_VISION_MODEL=gpt-4o
OPENAI_TEXT_MODEL=gpt-4o
REPLICATE_SDXL_IMG2IMG_MODEL=stability-ai/sdxl:39ed52f2a78e934b3ba6e2a89f5b1c712d4cae0c9b043a43eb37920a5abce6
CLIP_ALLOW_DOWNLOAD=false
